{% extends "gstudio/base.html" %}
{% load gstudio_tags %}
{% load i18n %}
{% block title %}Wikipages{% endblock %}
{% block content %}

<form method="post" action="">
{% csrf_token %}
<h2 style="color: black;">Search Wikipage</h2>
<input type="text" name="wikisearch" id="pagesearch">&nbsp;
<br/>
<input type="submit" value="Search" id="searchpage"><br/><br/>
</form>
Wikipage Listing:<br/>
{% if wikipage %}
{% for each in wikipage %}
{% if not "page box" in each.title %}
        {% if each.status = 1  %}
	{% for each1 in each.authors.all %}
	{% if each1|stringformat:"s" = usr or is_staff %}
	 <a href={{each.get_view_object_url}}><abbr title="Private"><font color="red">{{each.title}}</font></abbr></a> </br>
	
        {% endif %}
	{% endfor %}
	{% endif %}
{% if each.status = 2 %}
<a href={{each.get_view_object_url}}>{{each.title}}{{each.status}}</a><br/>
{% endif %}
{% endif %}
{% endfor %}
{% else %}
<h2><font color="red">Wikipage not found!!</font></h2>
{% endif %}

{% endblock %}
