{% extends "gstudio/base.html" %}
{% load gstudio_tags %}
{% load i18n %}
{% load pagination_tags %}
{% block title %}Wikipages{% endblock %}
{% block content %}
 <script type="text/javascript" >
$(window).load(function() {
 
 $("#graphcss").hide();
});

</script>

<form method="post" action="">
{% csrf_token %}
<h2 style="color: black;">Search Wikipage</h2>
<input type="text" name="wikisearch" id="pagesearch">
<input type="submit" value="Search" id="searchpage">
<br/><br/>
</form>

<p> Here is a list of all the pages:</p>
</br>
	{% if user.is_authenticated %}
    <input type="button" value="Create a new page" onClick="location.href='pageadd/';">
	<br/>
	{% endif %}
    {% autopaginate page 15 %}
    {% for each in page %}
	{% if each.status = 2 %}
	 <a href="/gstudio/page/gnowsys-page/{{each.id}}/">{{each.title}}</a></br>
	 {% endif %}
        {% if each.status = 1  %}
	{% for each1 in each.authors.all %}
	 
	{% if each1|stringformat:"s" = usr or is_staff %} 
	 <a href="/gstudio/page/gnowsys-page/{{each.id}}/"><abbr title="Private"><font color="red">{{each.title}}<font></abbr></a></br>
	
        {% endif %}
	 
	 
	{% endfor %}
	{% endif %}
        
    
    {% endfor %}
	{% if user.is_authenticated %}
    <input type="button" value="Create a new page" onClick="location.href='pageadd/';">
	{% endif %}
 {% paginate %}
    </p>
    <p>
    </br>




{% endblock %}
